/**
 * CSS Reset
 * From Blueprint reset.css
 * http://blueprintcss.googlecode.com
 */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

body {
  line-height: 1.5; }

table {
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal; }

table, td, th {
  vertical-align: middle; }

blockquote {
  &:before, &:after {
    content: ""; } }

q {
  &:before, &:after {
    content: ""; } }

blockquote, q {
  quotes: "" ""; }

a img {
  border: none; }

/**
 * Basic Typography
 */

body {
  font-family: "Lucida Grande", Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
  font-size: 80%;
  color: #222;
  background: #fff;
  margin: 1em 1.5em; }

pre, code {
  margin: 1.5em 0;
  white-space: pre; }

pre, code {
  font: 1em 'andale mono', 'lucida console', monospace;
  line-height: 1.5; }

a[href] {
  color: #436976;
  background-color: transparent; }

h1, h2, h3, h4, h5, h6 {
  color: #003a6b;
  background-color: transparent;
  font: 100% "Lucida Grande", Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
  margin: 0;
  padding-top: 0.5em; }

h1 {
  font-size: 130%;
  margin-bottom: 0.5em;
  border-bottom: 1px solid #fcb100; }

h2 {
  font-size: 120%;
  margin-bottom: 0.5em;
  border-bottom: 1px solid #aaa; }

h3 {
  font-size: 110%;
  margin-bottom: 0.5em;
  text-decoration: underline; }

h4, h5 {
  font-size: 100%;
  font-weight: bold; }

h6 {
  font-size: 80%;
  font-weight: bold; }

/**
 * Map Examples Specific
 */

.smallmap {
  width: 512px;
  height: 256px;
  border: 1px solid #ccc; }

#tags {
  display: none; }

#docs p {
  margin-bottom: 0.5em; }

/* mobile specific */
@media only screen and (max-width: 600px) {
  body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%; }
  #map {
    background: #7391ad;
    width: 100%;
    border: 0;
    height: 250px; }
  #title {
    font-size: 1.3em;
    line-height: 2em;
    text-indent: 1em;
    margin: 0;
    padding: 0; }
  #docs {
    bottom: 0;
    padding: 1em; }
  #shortdesc {
    color: #aaa;
    font-size: 0.8em;
    padding: 1em;
    text-align: right; }
  #tags {
    display: none; } }

@media only screen and (orientation: landscape) and (max-width: 600px) {
  #shortdesc {
    float: right;
    width: 25%; }
  #map {
    width: 70%; }
  #docs {
    font-size: 12px; } }

body {
  -webkit-text-size-adjust: none;

  &.embed {
    margin: 0px;
    padding: 0px;
    //border: 1px solid blue;
  }
}


$boxw: 640;
$boxh: 360;
$box-width: #{$boxw}px;
$box-height: #{$boxh}px;
//$rotated-size: #{sqrt($boxw * $boxw + $boxh * $boxh)}px;
$rotated-size: 735px;

.clipper {
  border: 2px solid black;
  width: $box-width;
  height: $box-height;
  overflow: hidden;

  &.embed {
    border: 0;
  }
}


.rotated {
  //border: 1px solid green;
  width: $rotated-size;
  height: $rotated-size;
  position: relative;
  //top: (($box-height - $rotated-size)/2);
  top: -187.5px;
  left: -47.5px;

  // http://stackoverflow.com/a/7581301/405240
  -webkit-backface-visibility: hidden;

  /* transform: rotate(7deg); */
  /* -ms-transform: rotate(7deg); */
  /* /\* IE 9 *\/ */
  /* -moz-transform: rotate(7deg); */
  /* /\* Firefox *\/ */
  /* -webkit-transform: rotate(7deg); */
  /* /\* Safari and Chrome *\/ */
  /* -o-transform: rotate(7deg); */
  /* /\* Opera *\/ */
}
